.logout-button-container {
    margin-top: 20px;
}

.video-page-layout {
    display: flex;
    gap: 20px;
}

.video-player-container {
    width: 70%;
}

.video-player-container video {
    width: 100%;
}

.video-list-container {
    width: 30%;
    max-height: 500px;
    overflow-y: auto;
}

.video-thumbnail-item {
    cursor: pointer;
    margin-bottom: 10px;
}

.video-thumbnail-item video {
    width: 100%;
}
