.logout-button-container {
    margin-top: 20px;
}

.video-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}

.video-thumbnail {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

.video-thumbnail video {
    width: 100%;
}
